@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: #dbeafe;
  }

.dark ::selection {
  background: #60a5fa;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}